<%- include('../partials/header.ejs')%> 
   <h1>Please Login</h1>

   <form action="/users/login" method="POST" class="new-item-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group">
      <label></label>
      <button type="submit" class="submit-btn">Sign In</button>
    </div>
  </form>
</main>
<%- include('../partials/footer.ejs')%> 