<%- include('./partials/header.ejs')%> 
<main>
    <h1>Retro Threads</h1>
    <div class="main-content">
        <div class="left-side">
            <h2>Welcome to Retro Threads!</h2>
            <p>Discover unique, vintage clothing from different eras. Explore our collection and find items matching your taste and style.</p>
            <a href="/items" class="start-browsing-btn">Start Browsing</a>            
        </div>
        
        <div class="right-side">
            <img src="images/home_image.jpg" alt="Vintage clothing" />            
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs')%> 
