<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Threads</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="logo"/>
            </a> 
        </div>
        <div class="search-bar">
            <form action="/items" method="GET">
                <input type="text" name="search" placeholder="Search items...">
                <button class="search-button" type="submit">
                    <i class="fa fa-search"></i> 
                </button>
            </form>
        </div>
        <div class="nav-bar">
            <a href="/items">Browse</a>
            <a href="/items/new">Sell</a>
            <a href="#">Sign Up</a>
            <a href="#">Login</a>
        </div>
    </header>
